<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diyor</title>
</head>
<body>
<style>
    h3 {
        color:red
    }
    p {
        color: #000
    }
    btn {
        background-color: blue
    }
</style>
<h3>Diyor is GOSHT</h3>
<p>Diyor is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
    dolore eaque eum nostrum obcaecati officia omnis solut
    a temporibus voluptas. Sit.</p>
<button>Buy Diyor Free <strike>100$</strike></button>
</body>
</html>